{% extends 'base.html.twig' %}

{% block title %}Home Page{% endblock %}

{% block body %}
<h1>Welcome To Tradesmate!</h1>



  <h3>Here is a list of Paint & Decorating Jobs </h3>
  <table>
      <thead>
      <tr>

        <th>Creator</th>
        <th>Contact</th>
        <th>Trade</th>
        <th>Description</th>
        <th>Location</th>
      </tr>
      </thead>
      <tbody>{% for job in job %}
          {% if job.trade == 'Paint & Decorating' %}
          <td>{{ job.creator }}</td>
          <td>{{ job.contact }}</td>
          <td>{{ job.trade }}</td>
          <td>{{ job.description }}</td>
          <td>{{ job.location }}</td>


          {% endif %}
      {% endfor %}</tbody>


  </table>

{% endblock %}
